<!-- <div class="bordered" *ngFor="let item of similarProducts"> -->
    <img [src]="item.image_url" alt="img1">
    <p class="small-text">{{item.description}}</p>
    <div class="btn-group">
        <button class="btn btn-primary btn-bordered"><i class="fas fa-camera"></i> View</button>
        <button class="btn btn-success btn-bordered"><i class="fas fa-camera"></i> Wish</button>
        <button class="btn btn-info btn-bordered"><i class="fas fa-camera"></i> Cart</button>
    </div>
<!-- </div> -->